<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #1d1f39">
    <div class="other-section">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs py-3" style="background-color: #000">
            <li class="nav-item me-auto">
              <a class="ms-5" href="/home"
                ><img
                  src="/pictures/Capture.PNG"
                  class="logo"
                  width="340px"
                  height="100em"
              /></a>
            </li>
            <%if(locals.username){%>
            <li class="nav-item dropdown me-5">
              <a
                style="color: #fff89c"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                ><%=username%></a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/dashboard">Dashboard</a>
                </li>
                <%if(locals.admin){%>
                <li>
                  <a class="dropdown-item" href="/admindashboard"
                    >Admin Dashboard</a
                  >
                </li>
                <li><a class="dropdown-item" href="/adminuserreport">User report</a></li>
                <li><a class="dropdown-item" href="/admincontentreport">Content report</a></li>
                <%}%>
                <li>
                  <a class="dropdown-item" href="/unanimous/profile"
                    >My profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/catalogue">Catalogue</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/profile/followlist"
                    >My follow list</a
                  >
                </li>
                <li><a class="dropdown-item" href="/nkash">My nkash</a></li>
                <li>
                  <a class="dropdown-item" href="/subscription"
                    >Buy subscription</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/submission">Submissions</a>
                </li>
                <li><a class="dropdown-item" href="/post">Forum</a></li>
                <li>
                  <a class="dropdown-item" href="/searchby">SearchByCategory</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/home/logout">Logout</a></li>
              </ul>
            </li>
            <%}else{%>
            <li class="nav-item">
              <a
                class="nav-link my-link-style2 text-uppercase"
                href="/users/logPage"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link my-link-style2 text-uppercase"
                href="/users/register"
                >Register</a
              >
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Give new password</h1>
      <form id="password">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="confirmpassword"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/newpassword.js"></script>
  </body>
</html>
